In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

print('Init')

Init

Begin by reading each CSV into seperate DFs and then stitch the DFs together into a single DF.

In [2]:
sellers = pd.read_csv("olist_sellers_dataset.csv")
orders = pd.read_csv("olist_order_items_dataset.csv")
closed = pd.read_csv("olist_closed_deals_dataset.csv")
marketing = pd.read_csv("olist_marketing_qualified_leads_dataset.csv")
cust = pd.read_csv("olist_customers_dataset.csv")
order_pay = pd.read_csv("olist_order_payments_dataset.csv")
order_ds = pd.read_csv("olist_orders_dataset.csv")
products = pd.read_csv("olist_products_dataset.csv")
product_translation = pd.read_csv("product_category_name_translation.csv")

Then print the head of each DF

In [3]:
sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [4]:
print(f'Number of Unique orders - {order_pay.order_id.nunique()}')

orders

Number of Unique orders - 99440

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [5]:
closed

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,df9a2abe2ad3f2d8758b675ac8331ecf,bfcc27719640628da877db48b672b169,45749fb708130f78d0db07d8d80f030b,a8387c01a09e99ce014107505b92388c,2018-08-01 20:22:31,home_decor,offline,cat,NaN,NaN,NaN,reseller,NaN,0.0
838,8723201570415eb23b4f095d8c20a27c,4a82eab98441aeb64566e2776c1fb2b6,370c9f455f93a9a96cbe9bea48e70033,4b339f9567d060bcea4f5136b9f5949e,2018-09-27 18:58:41,construction_tools_house_garden,online_big,wolf,NaN,NaN,NaN,reseller,132.0,200000.0
839,2e57665b8faf05c967a801eb5aedfa0a,55031883943971ca22db6894574cfe2c,370c9f455f93a9a96cbe9bea48e70033,a8387c01a09e99ce014107505b92388c,2018-06-06 20:15:26,computers,online_medium,wolf,NaN,NaN,NaN,reseller,NaN,0.0
840,40955be51cc85c5a5a6cdd12b19e9f10,c0e933c238e41f0cd459d6025ee9b364,068066e24f0c643eb1d089c7dd20cd73,d3d1e91a157ea7f90548eef82f1955e3,2018-03-06 15:52:23,pet,online_beginner,cat,NaN,NaN,NaN,reseller,NaN,0.0
841,8a6492305a5fbcdcdd1a7f5a90764c07,1bba9c94eb5c4e82fba9f7286fe81025,56bf83c4bb35763a51c2baab501b4c67,de63de0d10a6012430098db33c679b0b,2018-05-02 13:31:32,household_utilities,industry,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0

In [6]:
marketing

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search
...,...,...,...,...
7995,feaba3ffcd2ff97501696c7f9a42f41c,2018-05-22,e42a14209c69c3e9cc6b042620465f12,paid_search
7996,a79cb53cd009ab92e0143b92baa2407b,2018-03-27,c494978688ccf66ad9fad3d6a3338c22,paid_search
7997,68f049a23ab109c6a0f6989bb9a02994,2017-08-27,b48ec5f3b04e9068441002a19df93c6c,organic_search
7998,4f8c96e2509b984329044c6682c88ee9,2017-10-06,a56671a54260a44923d32c2f08fad39c,organic_search
7999,8a6492305a5fbcdcdd1a7f5a90764c07,2018-01-11,b76ef37428e6799c421989521c0e5077,direct_traffic

In [7]:
cust

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [8]:
print(f'Number of Unique orders - {order_pay.order_id.nunique()}')
order_pay

Number of Unique orders - 99440

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [9]:
print(f'Number of Unique orders - {order_ds.order_id.nunique()}')


order_ds

Number of Unique orders - 99441

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [10]:
products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [11]:
product_translation

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [12]:
orders[orders.order_id == '00143d0f86d6fbd9f9b38ab440ac16f5']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
32,00143d0f86d6fbd9f9b38ab440ac16f5,1,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.1
33,00143d0f86d6fbd9f9b38ab440ac16f5,2,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.1
34,00143d0f86d6fbd9f9b38ab440ac16f5,3,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.1

In [13]:
order_pay[order_pay['order_id']=='00143d0f86d6fbd9f9b38ab440ac16f5']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
29413,00143d0f86d6fbd9f9b38ab440ac16f5,1,credit_card,1,109.29

In [14]:
# merge the orders, order_ds, and order_pay together 
orders_combo = (orders.merge(order_ds, on='order_id', how='left')).merge(order_pay, on='order_id', how='left')
orders_combo['price'] = round(orders_combo['price'], 2)
orders_combo['freight_value'] = round(orders_combo['freight_value'], 2)
orders_combo['payment_value'] = round(orders_combo['payment_value'], 2)
orders_combo['price_diff'] = round((orders_combo['price'] + orders_combo['freight_value'] - orders_combo['payment_value']), 2)
orders_combo[orders_combo['price_diff']!= 0]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,payment_installments,payment_value,price_diff
13,0008288aa423d2a3f00fcb17cd7d8719,1,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.90,13.37,2355af7c75e7c98b43a87b2a7f210dc5,delivered,2018-02-13 22:10:21,2018-02-15 03:55:52,2018-02-20 18:23:28,2018-02-26 13:55:22,2018-03-06 00:00:00,1.0,boleto,1.0,126.54,-63.27
14,0008288aa423d2a3f00fcb17cd7d8719,2,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.90,13.37,2355af7c75e7c98b43a87b2a7f210dc5,delivered,2018-02-13 22:10:21,2018-02-15 03:55:52,2018-02-20 18:23:28,2018-02-26 13:55:22,2018-03-06 00:00:00,1.0,boleto,1.0,126.54,-63.27
32,00143d0f86d6fbd9f9b38ab440ac16f5,1,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10,2e45292979b9b2700ea09560eeb0f803,delivered,2017-10-16 15:29:43,2017-10-16 16:07:52,2017-10-16 23:04:43,2017-10-27 18:43:56,2017-11-06 00:00:00,1.0,credit_card,1.0,109.29,-72.86
33,00143d0f86d6fbd9f9b38ab440ac16f5,2,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10,2e45292979b9b2700ea09560eeb0f803,delivered,2017-10-16 15:29:43,2017-10-16 16:07:52,2017-10-16 23:04:43,2017-10-27 18:43:56,2017-11-06 00:00:00,1.0,credit_card,1.0,109.29,-72.86
34,00143d0f86d6fbd9f9b38ab440ac16f5,3,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10,2e45292979b9b2700ea09560eeb0f803,delivered,2017-10-16 15:29:43,2017-10-16 16:07:52,2017-10-16 23:04:43,2017-10-27 18:43:56,2017-11-06 00:00:00,1.0,credit_card,1.0,109.29,-72.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117589,fff8287bbae429a99bb7e8c21d151c41,2,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14,6c1e92a209dbf868706caa831090941e,delivered,2018-03-17 12:11:45,2018-03-17 12:29:22,2018-03-21 19:22:25,2018-04-07 10:07:48,2018-04-19 00:00:00,1.0,credit_card,4.0,456.28,-228.14
117594,fffb9224b6fc7c43ebb0904318b10b5f,1,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00,2017-10-28 02:55:58,2017-11-10 19:31:52,2017-11-17 19:41:42,2017-11-27 00:00:00,1.0,boleto,1.0,356.76,-267.57
117595,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00,2017-10-28 02:55:58,2017-11-10 19:31:52,2017-11-17 19:41:42,2017-11-27 00:00:00,1.0,boleto,1.0,356.76,-267.57
117596,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00,2017-10-28 02:55:58,2017-11-10 19:31:52,2017-11-17 19:41:42,2017-11-27 00:00:00,1.0,boleto,1.0,356.76,-267.57
117597,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00,2017-10-28 02:55:58,2017-11-10 19:31:52,2017-11-17 19:41:42,2017-11-27 00:00:00,1.0,boleto,1.0,356.76,-267.57

In [15]:
# find the total cost of each order that was paid for with a voucher
order_pay[order_pay['payment_type']=='voucher'].groupby('order_id')[['payment_value']].sum()

                                  payment_value
order_id
0016dfedd97fc2950e388d2971d718c7          17.92
002f19a65a2ddd70a090297872e6d64e          77.29
004345d16a1ab2c21962992c721c8643          53.27
0071ee2429bc1efdc43aa3e073a5290e         192.44
0080eebb288dba1857ccf048dfe6bdfe          21.10
...                                         ...
ff20ee702706d9e407a34de9fe2ff768          50.00
ff7400d904161b62b6e830b3988f5cbd         100.00
ff978de32e717acd3b5abe1fb069d2b6          49.14
ffa1dd97810de91a03abd7bd76d2fed1         418.73
ffa39020fe7c8a3e907320e1bec4b985          64.01

[3866 rows x 1 columns]

After exploring the data, it is clear that the total order_pay combines the item price and freight value into a single payment_value field. As such, it is best to use the orders table and the orders_ds table to bring in customer ids and only bring in voucher values from the order_pay table to calculate customer life-time value at the end.

In [16]:
orders = orders.merge(order_ds, on='order_id', how='left')
orders

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18 00:00:00
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01 00:00:00
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10 00:00:00
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25 00:00:00
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00

In [17]:
# Merge the orders and sellers data sets together on seller ID
orders_sellers = orders.merge(sellers, on='seller_id', how='left')
orders_sellers

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,27277,volta redonda,SP
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,3471,sao paulo,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,37564,borda da mata,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,14403,franca,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,87900,loanda,PR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18 00:00:00,88303,itajai,SC
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01 00:00:00,1206,sao paulo,SP
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10 00:00:00,80610,curitiba,PR
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25 00:00:00,4733,sao paulo,SP
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00,14940,ibitinga,SP

In [18]:
# Merge the marketing and closed order sets on mql_id
marketing_closed = marketing.merge(closed, on='mql_id', how='left')
marketing_closed

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,feaba3ffcd2ff97501696c7f9a42f41c,2018-05-22,e42a14209c69c3e9cc6b042620465f12,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7996,a79cb53cd009ab92e0143b92baa2407b,2018-03-27,c494978688ccf66ad9fad3d6a3338c22,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7997,68f049a23ab109c6a0f6989bb9a02994,2017-08-27,b48ec5f3b04e9068441002a19df93c6c,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7998,4f8c96e2509b984329044c6682c88ee9,2017-10-06,a56671a54260a44923d32c2f08fad39c,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7999,8a6492305a5fbcdcdd1a7f5a90764c07,2018-01-11,b76ef37428e6799c421989521c0e5077,direct_traffic,1bba9c94eb5c4e82fba9f7286fe81025,56bf83c4bb35763a51c2baab501b4c67,de63de0d10a6012430098db33c679b0b,2018-05-02 13:31:32,household_utilities,industry,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0

In [19]:
# Merge the orders_sellers and marketing_closed data sets on seller_id
brazil = orders_sellers.merge(marketing_closed, on='seller_id', how='left')
brazil

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,...,2018-03-28 18:50:57,computers,online_small,cat,NaN,NaN,NaN,reseller,NaN,0.0
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Merge Brazil with cust table on customer_id
brazil = brazil.merge(cust, on='customer_id', how='left')
# Merge brazil with products on order_id
brazil = brazil.merge(products, on='product_id', how='left')
# Merge brazil with product_translation on product_id
brazil = brazil.merge(product_translation, on='product_category_name', how='left')
brazil

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,customer_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,...,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,...,SP,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0,pet_shop
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,...,MG,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0,furniture_decor
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,...,SP,perfumaria,42.0,480.0,1.0,200.0,16.0,10.0,15.0,perfumery
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,...,SP,ferramentas_jardim,59.0,409.0,1.0,3750.0,35.0,40.0,30.0,garden_tools
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,...,MA,utilidades_domesticas,43.0,1002.0,3.0,10150.0,89.0,15.0,40.0,housewares
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,...,PR,informatica_acessorios,31.0,232.0,1.0,8950.0,45.0,26.0,38.0,computers_accessories
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,...,SP,esporte_lazer,43.0,869.0,1.0,967.0,21.0,24.0,19.0,sports_leisure
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,...,SP,informatica_acessorios,56.0,1306.0,1.0,100.0,20.0,20.0,20.0,computers_accessories
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,...,SP,cama_mesa_banho,47.0,511.0,1.0,600.0,30.0,3.0,19.0,bed_bath_table

In [21]:
print(f'The min date of the data set is {brazil.order_purchase_timestamp.min()}')
print(f'The max date of the data set is {brazil.order_purchase_timestamp.max()}')

The min date of the data set is 2016-09-04 21:15:19
The max date of the data set is 2018-09-03 09:06:57

Finally, pair down the brazil table to only the fields we need for analysis to complete the following tasks:

1. Summarizes the seller funnel from marketing sign up to launching products on the platform
1. Summarizes the current state of the business
  * What has performance been monthly
  * What are the best selling categories
  * Please provide Customer LTV
1. Predicts future revenue for the next 12 months for order volume and revenue

In [22]:
# print a list of columns
brazil.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'customer_id',
       'order_status', 'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'seller_zip_code_prefix',
       'seller_city', 'seller_state', 'mql_id', 'first_contact_date',
       'landing_page_id', 'origin', 'sdr_id', 'sr_id', 'won_date',
       'business_segment', 'lead_type', 'lead_behaviour_profile',
       'has_company', 'has_gtin', 'average_stock', 'business_type',
       'declared_product_catalog_size', 'declared_monthly_revenue',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [23]:
# pair down the columns to what is needed
final = brazil[['order_id', 'order_item_id', 'product_id', 'seller_id', 'price', 
                'order_purchase_timestamp',  'customer_unique_id', 'product_category_name_english', 'customer_id']]

# convert the order purchase time stamp to a datetime 
final['order_purchase_timestamp'] = pd.to_datetime(final['order_purchase_timestamp'])

# ignore all data before 2017
final = final[final['order_purchase_timestamp'] >= '2017-01-01']
# sort the df by order_purchase_timestamp
final = final.sort_values(by='order_purchase_timestamp')
# create an order month 
final['order_month'] = final['order_purchase_timestamp'].dt.strftime('%Y-%m')
final

<ipython-input-23-211d527170f5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['order_purchase_timestamp'] = pd.to_datetime(final['order_purchase_timestamp'])

,order_id,order_item_id,product_id,seller_id,price,order_purchase_timestamp,customer_unique_id,product_category_name_english,customer_id,order_month
104115,ec7a019261fce44180373d45b442d78f,1,f5d8f4fbc70ca2a0038b9a0010ed5cb0,48efc9d94a9834137efd9ea76b065a38,10.90,2017-01-05 11:56:06,f7b981e8a280e455ac3cbe0d5d171bd1,fashion_bags_accessories,c24fc5f9a446b4d8262041b9c64de772,2017-01
81567,b95a0a8bd30aece4e94e81f0591249d8,1,6c04a068e5ab37749c980c42a036b9e3,48efc9d94a9834137efd9ea76b065a38,10.90,2017-01-05 12:01:20,83e7958a94bd7f74a9414d8782f87628,auto,ff3c6d35b4927c9b965aa6a68dcf56e4,2017-01
24916,38bcb524e1c38c2c1b60600a80fc8999,1,680cc8535be7cc69544238c1d6a83fe8,48efc9d94a9834137efd9ea76b065a38,2.90,2017-01-05 12:06:36,728e4a7d0db4845270091ded0923c71f,pet_shop,d2c63ad286e3ca9dd69218008d61ff81,2017-01
53673,7a18a504c1a4b32d883e68de2e1a7db0,1,c0d4027067afcf9c1697cce981b8fed6,48efc9d94a9834137efd9ea76b065a38,7.90,2017-01-05 12:09:08,728e4a7d0db4845270091ded0923c71f,pet_shop,e6bee29442c761ff0dfb9a4414922a5c,2017-01
46997,6acecf438369055d9243e121045cca74,1,1514ddb0f4a5afc8d24104e89c714403,48efc9d94a9834137efd9ea76b065a38,9.90,2017-01-05 12:11:23,728e4a7d0db4845270091ded0923c71f,pet_shop,42d857e22f61f10476f0cda1aacc018a,2017-01
...,...,...,...,...,...,...,...,...,...,...
4925,0b223d92c27432930dfe407c6aea3041,2,2b4472df15512a2825ae86fd9ae79335,67bf6941ba2f1fa1d02c375766bc3e53,209.00,2018-08-29 14:18:23,5c58de6fb80e93396e2f35642666b693,kitchen_dining_laundry_garden_furniture,e60df9449653a95af4549bbfcb18a6eb,2018-08
9829,168626408cb32af0ffaf76711caae1dc,1,bdcf6a834e8faa30dac3886c7a58e92e,2a84855fd20af891be03bc5924d2b453,45.90,2018-08-29 14:18:28,7febafa06d9d8f232a900a2937f04338,health_beauty,6e353700bc7bcdf6ebc15d6de16d7002,2018-08
1722,03ef5dedbe7492bdae72eec50764c43f,1,c7f27c5bef2338541c772b5776403e6a,7d7866a99a8656a42c7ff6352a433410,24.90,2018-08-29 14:52:00,b701bebbdf478f5500348f03aff62121,party_supplies,496630b6740bcca28fce9ba50d8a26ef,2018-08
23530,35a972d7f8436f405b56e36add1a7140,1,d04857e7b4b708ee8b8b9921163edba3,9f505651f4a6abe901a56cdc21508025,84.99,2018-08-29 15:00:37,24ac2b4327e25baf39f2119e4228976a,computers_accessories,898b7fee99c4e42170ab69ba59be0a8b,2018-08
37073,54282e97f61c23b78330c15b154c867d,1,b98992ea80b467987a7fbb88e7f2076a,25be943a321c8938947bdaabca979a90,145.00,2018-09-03 09:06:57,ff22e30958c13ffe219db7d711e8f564,kitchen_dining_laundry_garden_furniture,4b7decb9b58e2569548b8b4c8e20e8d7,2018-09

In [24]:
final.groupby(['product_category_name_english'])[['price']].sum().sort_values(by='price', ascending=False).head(10)

                                    price
product_category_name_english
health_beauty                  1253993.86
watches_gifts                  1201645.44
bed_bath_table                 1036509.69
sports_leisure                  984715.33
computers_accessories           910555.00
furniture_decor                 723881.71
cool_stuff                      634179.85
housewares                      630961.59
auto                            590886.86
garden_tools                    483896.58

In [25]:
final.groupby(['product_category_name_english'])[['price']].mean().sort_values(by='price', ascending=False).head(10)

                                             price
product_category_name_english
computers                              1098.340542
small_appliances_home_oven_and_coffee   624.285658
home_appliances_2                       476.124958
agro_industry_and_commerce              342.124858
musical_instruments                     281.616000
small_appliances                        280.778468
fixed_telephony                         227.328649
construction_tools_safety               208.992371
watches_gifts                           200.742639
air_conditioning                        185.776551

In [26]:
final.groupby(['order_month'])[['price']].sum()

                  price
order_month
2017-01       120312.87
2017-02       247303.02
2017-03       374344.30
2017-04       359927.23
2017-05       506071.14
2017-06       433038.60
2017-07       498031.48
2017-08       573971.68
2017-09       624401.69
2017-10       664219.43
2017-11      1010271.37
2017-12       743914.17
2018-01       950030.36
2018-02       844178.71
2018-03       983213.44
2018-04       996647.75
2018-05       996517.68
2018-06       865124.31
2018-07       895507.22
2018-08       854686.33
2018-09          145.00

History

In [27]:
# crate a DF to contain order volume
order_volume = final.groupby(['order_month'])[['order_id']].count().reset_index()
order_volume['previous_months_volume'] = order_volume['order_id'].shift(periods=1)

# create a DF to contain monthly revenue
revenue = final.groupby(['order_month'])[['price']].sum().reset_index()
revenue['previous_months_price'] = revenue['price'].shift(periods=1)

# merge the revenue and order volume tables together

history = order_volume.merge(revenue, on='order_month', how='inner')
history.columns=(['order_month','orders_volume', 'previous_months_volume', 'revenue', 'previous_months_revenue'])
history['volume_diff'] = history['orders_volume'] - history['previous_months_volume']
history['revenue_diff'] = history['revenue'] - history['previous_months_revenue']
history

,order_month,orders_volume,previous_months_volume,revenue,previous_months_revenue,volume_diff,revenue_diff
0,2017-01,955,NaN,120312.87,NaN,NaN,NaN
1,2017-02,1951,955.0,247303.02,120312.87,996.0,126990.15
2,2017-03,3000,1951.0,374344.30,247303.02,1049.0,127041.28
3,2017-04,2684,3000.0,359927.23,374344.30,-316.0,-14417.07
4,2017-05,4136,2684.0,506071.14,359927.23,1452.0,146143.91
5,2017-06,3583,4136.0,433038.60,506071.14,-553.0,-73032.54
6,2017-07,4519,3583.0,498031.48,433038.60,936.0,64992.88
7,2017-08,4910,4519.0,573971.68,498031.48,391.0,75940.20
8,2017-09,4831,4910.0,624401.69,573971.68,-79.0,50430.01
9,2017-10,5322,4831.0,664219.43,624401.69,491.0,39817.74
10,2017-11,8665,5322.0,1010271.37,664219.43,3343.0,346051.94
11,2017-12,6308,8665.0,743914.17,1010271.37,-2357.0,-266357.20
12,2018-01,8208,6308.0,950030.36,743914.17,1900.0,206116.19
13,2018-02,7672,8208.0,844178.71,950030.36,-536.0,-105851.65
14,2018-03,8217,7672.0,983213.44,844178.71,545.0,139034.73
15,2018-04,7975,8217.0,996647.75,983213.44,-242.0,13434.31
16,2018-05,7925,7975.0,996517.68,996647.75,-50.0,-130.07
17,2018-06,7078,7925.0,865124.31,996517.68,-847.0,-131393.37
18,2018-07,7092,7078.0,895507.22,865124.31,14.0,30382.91
19,2018-08,7248,7092.0,854686.33,895507.22,156.0,-40820.89
20,2018-09,1,7248.0,145.00,854686.33,-7247.0,-854541.33

In [28]:
cust_values = final[['customer_unique_id', 'order_month']].groupby('order_month')[['customer_unique_id']].nunique().reset_index()
cust_values.rename(columns={'customer_unique_id':'num_customers'}, inplace=True)
cust_values

   order_month  num_customers
0      2017-01            755
1      2017-02           1708
2      2017-03           2601
3      2017-04           2359
4      2017-05           3588
5      2017-06           3154
6      2017-07           3894
7      2017-08           4211
8      2017-09           4170
9      2017-10           4501
10     2017-11           7342
11     2017-12           5557
12     2018-01           7120
13     2018-02           6537
14     2018-03           7096
15     2018-04           6878
16     2018-05           6795
17     2018-06           6121
18     2018-07           6211
19     2018-08           6411
20     2018-09              1

In [29]:
#create a list of unique customer_unique_id for each month in term
jans = set(list(final[final['order_month']=='2017-01']['customer_unique_id']))
febs = set(list(final[final['order_month']=='2017-02']['customer_unique_id']))
mars = set(list(final[final['order_month']=='2017-03']['customer_unique_id']))
aprs = set(list(final[final['order_month']=='2017-04']['customer_unique_id']))
mays = set(list(final[final['order_month']=='2017-05']['customer_unique_id']))
juns = set(list(final[final['order_month']=='2017-06']['customer_unique_id']))
julys= set(list(final[final['order_month']=='2017-07']['customer_unique_id']))
augs= set(list(final[final['order_month']=='2017-08']['customer_unique_id']))
seps= set(list(final[final['order_month']=='2017-09']['customer_unique_id']))
octs= set(list(final[final['order_month']=='2017-10']['customer_unique_id']))
novs= set(list(final[final['order_month']=='2017-11']['customer_unique_id']))
decs= set(list(final[final['order_month']=='2017-12']['customer_unique_id']))
jans18 = set(list(final[final['order_month']=='2017-01']['customer_unique_id']))
febs18  = set(list(final[final['order_month']=='2017-02']['customer_unique_id']))
mars18  = set(list(final[final['order_month']=='2017-03']['customer_unique_id']))
aprs18  = set(list(final[final['order_month']=='2017-04']['customer_unique_id']))
mays18  = set(list(final[final['order_month']=='2017-05']['customer_unique_id']))
juns18  = set(list(final[final['order_month']=='2017-06']['customer_unique_id']))
julys18 = set(list(final[final['order_month']=='2017-07']['customer_unique_id']))
augs18 = set(list(final[final['order_month']=='2017-08']['customer_unique_id']))


# create a function that compares two lists together and pull keeps the shared customer_unique_id
def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3 
        
cust_values['retained'] = np.where(cust_values['order_month']=='2017-01', 0, '')
cust_values['retained'] = np.where(cust_values['order_month']=='2017-02', len(intersection(jans,febs)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2017-03', len(intersection(febs, mars)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2017-04', len(intersection(mars,aprs)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2017-05', len(intersection(aprs,mays)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2017-06', len(intersection(mays, juns)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2017-07', len(intersection(juns,julys)),cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2017-08', len(intersection(julys,augs)),cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2017-09', len(intersection(augs,seps)),cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2017-10', len(intersection(seps,octs)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2017-11', len(intersection(octs, novs)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2017-12', len(intersection(novs, decs)),cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2018-01', len(intersection(decs, jans18)),cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2018-02', len(intersection(jans18,febs18)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2018-03', len(intersection(febs18, mars18)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2018-04', len(intersection(mars18,aprs18)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2018-05', len(intersection(aprs18,mays18)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2018-06', len(intersection(mays18, juns18)), cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2018-07', len(intersection(juns18,julys18)),cust_values['retained'])
cust_values['retained'] = np.where(cust_values['order_month']=='2018-08', len(intersection(julys18,augs18)),cust_values['retained'])

In [30]:
history = history.merge(cust_values, on='order_month', how='left')
history = history[history['order_month']!='2018-09']
history['previous_months_cust'] = history['num_customers'].shift(periods=1)
history

,order_month,orders_volume,previous_months_volume,revenue,previous_months_revenue,volume_diff,revenue_diff,num_customers,retained,previous_months_cust
0,2017-01,955,NaN,120312.87,NaN,NaN,NaN,755,0,NaN
1,2017-02,1951,955.0,247303.02,120312.87,996.0,126990.15,1708,3,755.0
2,2017-03,3000,1951.0,374344.30,247303.02,1049.0,127041.28,2601,4,1708.0
3,2017-04,2684,3000.0,359927.23,374344.30,-316.0,-14417.07,2359,13,2601.0
4,2017-05,4136,2684.0,506071.14,359927.23,1452.0,146143.91,3588,14,2359.0
5,2017-06,3583,4136.0,433038.60,506071.14,-553.0,-73032.54,3154,17,3588.0
6,2017-07,4519,3583.0,498031.48,433038.60,936.0,64992.88,3894,17,3154.0
7,2017-08,4910,4519.0,573971.68,498031.48,391.0,75940.20,4211,23,3894.0
8,2017-09,4831,4910.0,624401.69,573971.68,-79.0,50430.01,4170,32,4211.0
9,2017-10,5322,4831.0,664219.43,624401.69,491.0,39817.74,4501,32,4170.0
10,2017-11,8665,5322.0,1010271.37,664219.43,3343.0,346051.94,7342,37,4501.0
11,2017-12,6308,8665.0,743914.17,1010271.37,-2357.0,-266357.20,5557,41,7342.0
12,2018-01,8208,6308.0,950030.36,743914.17,1900.0,206116.19,7120,1,5557.0
13,2018-02,7672,8208.0,844178.71,950030.36,-536.0,-105851.65,6537,3,7120.0
14,2018-03,8217,7672.0,983213.44,844178.71,545.0,139034.73,7096,4,6537.0
15,2018-04,7975,8217.0,996647.75,983213.44,-242.0,13434.31,6878,13,7096.0
16,2018-05,7925,7975.0,996517.68,996647.75,-50.0,-130.07,6795,14,6878.0
17,2018-06,7078,7925.0,865124.31,996517.68,-847.0,-131393.37,6121,17,6795.0
18,2018-07,7092,7078.0,895507.22,865124.31,14.0,30382.91,6211,17,6121.0
19,2018-08,7248,7092.0,854686.33,895507.22,156.0,-40820.89,6411,23,6211.0

In [34]:
(1 - history['retained']/history['previous_months_cust']) * 100

0           NaN
1     99.602649
2     99.765808
3     99.500192
4     99.406528
5     99.526198
6     99.461002
7     99.409348
8     99.240085
9     99.232614
10     99.17796
11    99.441569
12    99.982005
13    99.957865
14     99.93881
15    99.816798
16    99.796452
17    99.749816
18    99.722268
19    99.629689
dtype: object

In [41]:
avg_purchase = history[history['order_month']<'2018-01']['revenue'].sum()/history[history['order_month']<'2018-01']['orders_volume'].sum()
avg_purchase_freq = history[history['order_month']<'2018-01']['revenue'].sum()/len(set(final[final['order_month']<'2018-01']['customer_unique_id']))
cust_value = avg_purchase * avg_purchase_freq
avg_cust_lifespan = 1/((1 - history['retained']/history['previous_months_cust']).mean() * 100)
CLTV = cust_value * 12 * avg_cust_lifespan

2076.6155417264317

In [43]:
history['LTV_Basic'] = (history['revenue']/history['num_customers'])/(1 - history['retained']/history['previous_months_cust'])
history[['LTV_Basic']]

     LTV_Basic
0          NaN
1   145.368619
2    144.26107
3   153.342607
4   141.887531
5   137.951842
6   128.590243
7     137.1128
8     150.8832
9   148.712725
10  138.742173
11  134.621513
12  133.455246
13  129.192987
14  138.643664
15  145.169668
16  146.953672
17  141.691577
18  144.582396
19   133.81112

Avg Monthly Revenue per Customer Ã· Monthly Churn Rate